@font-face {
    font-family: "Alatsi";
    src: url(fonts/Alatsi/Alatsi-Regular.ttf);
}

@font-face {
    font-family: "Protest Guerrilla";
    src: url(fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf)
}

@font-face {
    font-family: "Gafata";
    src: url(fonts/Gafata/Gafata-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.container {
    position: relative;
    width: 100%;
}

.menu {
    position: absolute;
    top: 70%;
    /* Ajuste para posicionar verticalmente */
    left: 50%;
    /* Ajuste para posicionar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #F6D5DE;
    /* Cor de fundo semi-transparente para o menu */
    padding: 20px;
    border-radius: 10px;

    text-transform: capitalize;

    word-spacing: 40px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre os itens de menu */
}

.menu ul a {
    color: #BC1FE1;
    /* Cor do texto do link */

    font-family: "Alatsi";
    font-size: 24px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: #BC1FE1;
}

#sobre {
    display: flex;
    justify-content: space-between;
    /* Isso distribui os itens uniformemente, empurrando o texto para a esquerda e a imagem para a direita */
    align-items: center;
    /* Isso alinha verticalmente os itens ao centro */

    margin: 60px;
}

.texto {
    display: flex;
    flex-direction: column;
}

#sobre h2 {
    font-family: "Protest Guerrilla";
    font-size: 68px;

}

#sobre p {
    font-family: "Gafata";
    font-size: 28px;
}

#sobre img {
    height: 500px;
    width: 500px;

    margin-left: 20px;
}

#trabalhos {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#trabalhos h2 {
    margin-bottom: 70px;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #BC1FE1;
    border-radius: 4px;

    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 40px;

}

.card img {
    height: 100%;
    width: 100%;
}

.card button {
    background-color: #FEFCD7;
    color: #696757;

    width: 90%;
    height: 40px;

    border: #FBEE37;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Alatsi";
    font-weight: 600;

    cursor: pointer;
    transition: background-color 500ms ease;
}

.card button:hover {
    background-color: #FCF586;
}

.container-cards {
    display: flex;
    justify-content: space-between;
}

/* .cor2 {
    height: 90vh;

    background-color: #FCF69A;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
   
    margin: 0 auto;
   

    position: absolute;
    top: 2500px;
    left: 150px;

}

.fotos img {
    width: 275px;
   
    height: auto;

    display: block;
    margin: 0 auto 20px;
}

.textos {
    display: flex;

}

.textos p {
    font-family: "Gafata";
    font-size: 24px;

    text-align: center;

    flex: 1;
    margin: 150px 50px;
   

    margin-top: 400px;
}

.cor1 {
    height: 20vh;

    background-color: #FCF69A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cor1 h2 {
    font-size: 72px;
    font-family: "Protest Guerrilla";
    text-transform: capitalize;
    text-align: center;

    margin-top: 20px;
} */

.degrade1 img {
    height: 300px;
    width: 1515px;
}

.titulo h2 {
    font-size: 68px;
    font-family: "Protest Guerrilla";

    text-transform: capitalize;

    text-align: center;

    position: relative;
    bottom: 200px;
}

.paragrafos {
    display: flex;

    margin: 50px;

    margin-top: -200px;
}

.paragrafos p {
    font-size: 28px;
    font-family: "Gafata";

    flex: 1;
    margin: 50px;

    text-align: center;
}

.degrade2 img {
    height: 300px;
    width: 1515px;

    margin-top: -100px;
}


#equipe{
    background-color: #FCF69A;

}

.pessoas{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.piao{
    width: 450px;
}

.piao p {
    font-family: "Gafata";
    font-size: 24px;

    text-align: center;
}

.piao img {
    margin-left: 55px;
}

