@font-face {
    font-family: "Alatsi";
    src: url(fonts/Alatsi/Alatsi-Regular.ttf);
}

@font-face {
    font-family: "Protest Guerrilla";
    src: url(fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf)
}

@font-face {
    font-family: "Gafata";
    src: url(fonts/Gafata/Gafata-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.container {
    position: relative;
    width: 100%;
}

.menu {
    position: absolute;
    top: 70%;
    /* Ajuste para posicionar verticalmente */
    left: 50%;
    /* Ajuste para posicionar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #F6D5DE;
    /* Cor de fundo semi-transparente para o menu */
    padding: 20px;
    border-radius: 10px;

    text-transform: capitalize;

    word-spacing: 40px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre os itens de menu */
}

.menu ul a {
    color: #BC1FE1;
    /* Cor do texto do link */

    font-family: "Alatsi";
    font-size: 24px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: #BC1FE1;
}

#sobre {
    display: flex;
    justify-content: space-between;
    /* Isso distribui os itens uniformemente, empurrando o texto para a esquerda e a imagem para a direita */
    align-items: center;
    /* Isso alinha verticalmente os itens ao centro */

    margin: 60px;

    margin-top: -50px;
}

.texto {
    display: flex;
    flex-direction: column;
}

#sobre h2 {
    font-family: "Protest Guerrilla";
    font-size: 68px;

}

#sobre p {
    font-family: "Gafata";
    font-size: 28px;
}

#sobre img {
    height: 500px;
    width: 500px;

    margin-left: 20px;
}

#cases {
    height: 800px;
    padding: 0 10%;
    margin: 150px 0px 0px 0px;

    margin-top: -100px;
}

#cases h2 {

    padding: 100px 0 100px 0;

    text-align: center;
    text-transform: capitalize;

    font-size: 68px;
    font-family: "Protest Guerrilla";
}



.container1 {
    position: relative;
    height: 370px;
    width: 300px;


}

.container1:hover .flip1 {
    transform: rotateY(180deg);
}

.flip1 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente1,
.tras1 {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;

}

.frente1 {
    background-image: url(img/ecosoy\ \(1\).png);
    background-size: cover;
}

.tras1 {
    /* color: black; */
    /* background-color: rgb(215, 215, 215); */
    background-image: url(img/ecosoy\ \(4\).png);
    background-size: cover;
    transform: rotateY(180deg);
}


/* segundo card */

.container2 {
    position: relative;
    /* bottom: 370px;
    left: 320px; */
    height: 370px;
    width: 300px;
    
}


.container2:hover .flip2 {
    transform: rotateY(180deg);
}

.flip2 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente2, .tras2 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente2 {
    background-image: url(img/gale.png);
    background-size: cover;
}

.tras2 {
    background-image: url(img/gale\ sobre.png);
    background-size: cover;
    transform: rotateY(180deg);
}

/* Terceiro Card */

.container3 {
    position: relative;
    /* bottom: 740px;
    left: 640px; */
    height: 370px;
    width: 300px;
    
}


.container3:hover .flip3 {
    transform: rotateY(180deg);
}

.flip3 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente3, .tras3 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente3 {
    background-image: url(img/animal\ \(1\).png);
    background-size: cover;
}

.tras3 {
    background-image: url(img/animal\ sobre\ \(2\).png);
    background-size: cover;
    transform: rotateY(180deg);
}

/* Quarto Card */

.container4 {
    position: relative;
    /* bottom: 1110px;
    left: 960px; */
    height: 370px;
    width: 300px;
    
    
}


.container4:hover .flip4 {
    transform: rotateY(180deg);
}

.flip4 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente4, .tras4 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;
 
    
}

.frente4 {
    background-image: url(img/bio\ \(1\).png);
    background-size: cover;
}

.tras4 {
    background-image: url(img/bio\ sobre.png);
    background-size: cover;
    transform: rotateY(180deg);
}

.alinhamento {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}


/* #trabalhos {
    text-align: center;
    padding-bottom: 100px;
    margin-bottom: 100px;
}

#trabalhos h2 {
    margin-bottom: 70px;
}

.card {
    height: 400px;
    width: 250px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #BC1FE1;
    border-radius: 4px;

    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 40px;

}

.card img {
    height: 100%;
    width: 100%;
}

.card button {
    background-color: #FEFCD7;
    color: #696757;

    width: 90%;
    height: 40px;

    border: #FBEE37;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Alatsi";
    font-weight: 600;

    cursor: pointer;
    transition: background-color 500ms ease;
}

.card button:hover {
    background-color: #FCF586;
}

.container-cards {
    display: flex;
    justify-content: space-between;
} */

/* .cor2 {
    height: 90vh;

    background-color: #FCF69A;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.fotos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
   
    margin: 0 auto;
   

    position: absolute;
    top: 2500px;
    left: 150px;

}

.fotos img {
    width: 275px;
   
    height: auto;

    display: block;
    margin: 0 auto 20px;
}

.textos {
    display: flex;

}

.textos p {
    font-family: "Gafata";
    font-size: 24px;

    text-align: center;

    flex: 1;
    margin: 150px 50px;
   

    margin-top: 400px;
}

.cor1 {
    height: 20vh;

    background-color: #FCF69A;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cor1 h2 {
    font-size: 72px;
    font-family: "Protest Guerrilla";
    text-transform: capitalize;
    text-align: center;

    margin-top: 20px;
} */

.degrade1 img {
    height: 300px;
    width: 1519px;
}

.titulo h2 {
    font-size: 68px;
    font-family: "Protest Guerrilla";

    text-transform: capitalize;

    text-align: center;

    position: relative;
    bottom: 200px;
}

.paragrafos {
    display: flex;

    margin: 50px;

    margin-top: -200px;
}

.paragrafos p {
    font-size: 28px;
    font-family: "Gafata";

    flex: 1;
    margin: 50px;

    text-align: center;
}

.degrade2 img {
    height: 300px;
    width: 1519px;

    margin-top: -100px;
}


#equipe{
    background-color: #FCF69A;

}

.pessoas{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.piao{
    width: 450px;
}

.piao p {
    font-family: "Gafata";
    font-size: 24px;

    text-align: center;
}

.piao img {
    margin-left: 55px;
}

#equipe .titulo-equipe h2 {
    font-size: 68px;
    font-family: "Protest Guerrilla";

    text-transform: capitalize;

    text-align: center;
}

#cadastro {
    font-size: 40px;
    font-family: "Alatsi";

    text-transform: capitalize;

    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

    margin-top: -150px;
}

#cadastro h2 {
    margin-bottom: 70px;
}

#cadastro form {
    background-color: #F2D2F9;
    color: #A7A6B5;
    font-family: "Gafata";
    font-size: 20px;

    width: 50%;

    margin: 0 auto;

    padding: 60px 0;
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: capitalize;
}

.campo {
    width: 60%;

    text-align: left;

    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-descrição {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: #D639FA;
    background-color: #FAE6FF;

    border: none;
    border-radius: 4px;

    outline: none;

    text-indent: 10px;
}

.campo-descrição textarea {
    color: #D639FA;
    background-color: #FAE6FF;

    border: none;
    border-radius: 4px;

    outline: none;

    resize: none;

    padding: 10px;
}

.campo label,
.campo-descrição label {
    margin-bottom: 15px;
}

.campo input,
.campo-descrição textarea {
    font-size: 19px;
    font-family:  "Gafata";

    text-transform: capitalize;
}

.campo input::placeholder,
.campo-descrição textarea::placeholder {
    color: #A7A6B5;
}

.campo input:focus {
    outline: 2px solid #D639FA;
}

.campo-descrição textarea:focus {
    outline: 2px solid #D639FA;
}

#cadastro form button {
    height: 40px;
    width: 60%;

    background-color: #FEFCD7;
    color: #DB89DF;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Alatsi";
    font-weight: 700;
    text-transform: capitalize;

    cursor: pointer;

    transition: background-color 500ms;
}

#cadastro form button:hover {
    background-color: #FCF586;
}

#footer img {
    height: 300px;
    width: 1519px;
}