/* FONTES */

@font-face {
    font-family: "Alatsi";
    src: url(fonts/Alatsi/Alatsi-Regular.ttf);
}

@font-face {
    font-family: "Protest Guerrilla";
    src: url(fonts/Protest_Guerrilla/ProtestGuerrilla-Regular.ttf)
}

@font-face {
    font-family: "Gafata";
    src: url(fonts/Gafata/Gafata-Regular.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BANNER */

.banner img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

}

.container {
    position: relative;
    width: 100%;
}

/* MENU */

.menu {
    position: absolute;
    top: 70%;
    /* Ajuste para posicionar verticalmente */
    left: 50%;
    /* Ajuste para posicionar horizontalmente */
    transform: translate(-50%, -50%);
    background-color: #F6D5DE;
    /* Cor de fundo semi-transparente para o menu */
    padding: 20px;
    border-radius: 10px;

    text-transform: capitalize;

    word-spacing: 40px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    display: inline-block;
    margin-right: 10px;
    /* Espaçamento entre os itens de menu */
}

.menu ul a {
    color: #BC1FE1;
    /* Cor do texto do link */

    font-family: "Alatsi";
    font-size: 24px;

    text-decoration: underline transparent;
    text-decoration-thickness: 2px;

    transition: text-decoration 500ms ease;
}

.menu a:hover {
    text-decoration-color: #BC1FE1;
}

/* SOBRE */

#sobre {
    display: flex;
    justify-content: space-between;
    /* Isso distribui os itens uniformemente, empurrando o texto para a esquerda e a imagem para a direita */
    align-items: center;
    /* Isso alinha verticalmente os itens ao centro */

    margin: 60px;

    margin-top: -50px;
}

.texto {
    display: flex;
    flex-direction: column;
}

#sobre h2 {
    font-family: "Protest Guerrilla";
    font-size: 68px;

}

#sobre p {
    font-family: "Gafata";
    font-size: 28px;
}

#sobre img {
    height: 500px;
    width: 500px;

    margin-left: 20px;
}

/* CASES */

#cases {
    height: 800px;
    padding: 0 10%;
    margin: 150px 0px 0px 0px;

    margin-top: -100px;
}

#cases h2 {

    padding: 100px 0 100px 0;

    text-align: center;
    text-transform: capitalize;

    font-size: 68px;
    font-family: "Protest Guerrilla";
}



.container1 {
    position: relative;
    height: 370px;
    width: 300px;


}

.container1:hover .flip1 {
    transform: rotateY(180deg);
}

.flip1 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente1,
.tras1 {
    position: absolute;
    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;

}

.frente1 {
    background-image: url(img/ecosoy\ \(1\).png);
    background-size: cover;
}

.tras1 {
    /* color: black; */
    /* background-color: rgb(215, 215, 215); */
    background-image: url(img/ecosoy\ \(4\).png);
    background-size: cover;
    transform: rotateY(180deg);
}


/* segundo card */

.container2 {
    position: relative;
    /* bottom: 370px;
    left: 320px; */
    height: 370px;
    width: 300px;

}


.container2:hover .flip2 {
    transform: rotateY(180deg);
}

.flip2 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente2,
.tras2 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;


}

.frente2 {
    background-image: url(img/gale.png);
    background-size: cover;
}

.tras2 {
    background-image: url(img/gale\ sobre.png);
    background-size: cover;
    transform: rotateY(180deg);
}

/* Terceiro Card */

.container3 {
    position: relative;
    /* bottom: 740px;
    left: 640px; */
    height: 370px;
    width: 300px;

}


.container3:hover .flip3 {
    transform: rotateY(180deg);
}

.flip3 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente3,
.tras3 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;


}

.frente3 {
    background-image: url(img/animal\ \(1\).png);
    background-size: cover;
}

.tras3 {
    background-image: url(img/animal\ sobre\ \(2\).png);
    background-size: cover;
    transform: rotateY(180deg);
}

/* Quarto Card */

.container4 {
    position: relative;
    /* bottom: 1110px;
    left: 960px; */
    height: 370px;
    width: 300px;


}


.container4:hover .flip4 {
    transform: rotateY(180deg);
}

.flip4 {
    position: absolute;
    width: 100%;
    height: 100%;

    cursor: pointer;

    transform-style: preserve-3d;
    transition: .5s;

}

.frente4,
.tras4 {
    position: absolute;

    width: 100%;
    height: 100%;

    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000001b;

    backface-visibility: hidden;


}

.frente4 {
    background-image: url(img/bio\ \(1\).png);
    background-size: cover;
}

.tras4 {
    background-image: url(img/bio\ sobre.png);
    background-size: cover;
    transform: rotateY(180deg);
}

.alinhamento {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

/* DEGRADE */

.degrade1 img {
    height: 300px;
    width: 1519px;
}

/* EQUIPE */

.titulo h2 {
    font-size: 68px;
    font-family: "Protest Guerrilla";

    text-transform: capitalize;

    text-align: center;

    position: relative;
    bottom: 200px;
}

.paragrafos {
    display: flex;

    margin: 50px;

    margin-top: -200px;
}

.paragrafos p {
    font-size: 28px;
    font-family: "Gafata";

    flex: 1;
    margin: 50px;

    text-align: center;
}

#equipe {
    background-color: #FCF69A;

}

.pessoas {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.piao {
    width: 450px;
}

.piao p {
    font-family: "Gafata";
    font-size: 24px;

    text-align: center;
}

.piao img {
    margin-left: 55px;
}

#equipe .titulo-equipe h2 {
    font-size: 68px;
    font-family: "Protest Guerrilla";

    text-transform: capitalize;

    text-align: center;
}

/* DEGRADE */

.degrade2 img {
    height: 300px;
    width: 1519px;

    margin-top: -100px;
}

/* CADASTRO */

#cadastro {
    font-size: 40px;
    font-family: "Alatsi";

    text-transform: capitalize;

    text-align: center;

    padding-bottom: 100px;
    margin-bottom: 100px;

    margin-top: -150px;
}

#cadastro h2 {
    margin-bottom: 70px;
}

#cadastro form {
    background-color: #F2D2F9;
    color: #A7A6B5;
    font-family: "Gafata";
    font-size: 20px;

    width: 50%;

    margin: 0 auto;

    padding: 60px 0;
    border-radius: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: capitalize;
}

.campo {
    width: 60%;

    text-align: left;

    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.campo-descrição {
    width: 60%;

    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 30px;
}

.campo input {
    height: 40px;

    color: #D639FA;
    background-color: #FAE6FF;

    border: none;
    border-radius: 4px;

    outline: none;

    text-indent: 10px;
}

.campo-descrição textarea {
    color: #D639FA;
    background-color: #FAE6FF;

    border: none;
    border-radius: 4px;

    outline: none;

    resize: none;

    padding: 10px;
}

.campo label,
.campo-descrição label {
    margin-bottom: 15px;
}

.campo input,
.campo-descrição textarea {
    font-size: 19px;
    font-family: "Gafata";

    text-transform: capitalize;
}

.campo input::placeholder,
.campo-descrição textarea::placeholder {
    color: #A7A6B5;
}

.campo input:focus {
    outline: 2px solid #D639FA;
}

.campo-descrição textarea:focus {
    outline: 2px solid #D639FA;
}

#cadastro form button {
    height: 40px;
    width: 60%;

    background-color: #FEFCD7;
    color: #DB89DF;

    border: none;
    border-radius: 4px;

    font-size: 17px;
    font-family: "Alatsi";
    font-weight: 700;
    text-transform: capitalize;

    cursor: pointer;

    transition: background-color 500ms;
}

#cadastro form button:hover {
    background-color: #FCF586;
}

/* FOOTER */

#footer img {
    height: 300px;
    width: 1519px;
}

/* RESPONSIVIDADE */

@media screen and (max-width: 1300px) {
    .menu {
        word-spacing: 20px;
    }

    #sobre h2 {
        font-size: 55px;
    }

    #sobre p {
        font-size: 20px;
    }

    #sobre img {
        height: 350px;
        width: 350px;
    }

    .degrade1 img {
        width: 1300px;
    }

    .degrade2 img {
        width: 1300px;
    }

    .paragrafos p {
        font-size: 20px;
    }

    .piao p {
        font-size: 20px;
    }

    .piao img {
        height: auto;
        margin-left: 55px;
        width: 300px;
    }

    #footer img {
        width: 1300px;
    }

    .card {
        height: 320px;
        width: 200px;
    }

    .alinhamento::-webkit-scrollbar {
        display: none;
    }

    .alinhamento {
        -ms-overflow-style: none; 
        scrollbar-width: none; 

        height: 100%;
        width: 100%;

        flex-wrap: nowrap;

        gap: 250px;

        overflow-x: auto;


        
    }

    .frente1 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip1 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras1 {
        height: 400px;
        width: 300px;

        flex-basis: unset;
        
    }

    .frente:first-child {
        margin-left: 30px;
    }

    .frente1:last-child {
        margin-right: 30px;
    }

    .frente2 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip2 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras2 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

    }

        /* .frente2:first-child {
            margin-left: 30px;
        }

        .frente2:last-child {
            margin-right: 30px;
        } */

    .frente3 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip3 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras3 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

    }


    .frente4 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .flip4 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

        background-size: cover;
    }

    .tras4 {
        height: 400px;
        width: 300px;

        flex-basis: unset;

    }
}

@media screen and (max-width:1080px) {
    .menu {
        word-spacing: 6px;
    }

    .banner img {
        width: 1080px;
    }

    .degrade1 img {
        width: 1080px;
    }

    .degrade2 img {
        width: 1080px;
    }

    #footer img {
        width: 1080px;
        height: 250px;
    }

    .paragrafos p {
        font-size: 17px;
    }

    .piao p {
        font-size: 17px;
    }

    #cases .alinhamento {
        gap: 350px;
    }

}

@media screen and (max-width: 800px) {
    .banner img {
        width: 800px;
    }

    #sobre h2 {
        font-size: 45px;
    }

    #sobre p {
        font-size: 15px;
    }

    #sobre img {
        height: 250px;
        width: 350px;
    }

    #sobre {
        margin-top: -40px;
    }

    #equipe .titulo-equipe h2 {
        font-size: 45px;
    }

    .piao img {
        height: auto;
        width: 200px;
        margin-left: 55px;
    }

    .degrade1 img {
        width: 800px;
    }

    .degrade2 img {
        width: 800px;
    }

    #footer img {
        width: 800px;
        height: 200px;
        margin-top: -120px;
    }

    #cases h2 {
        padding: 50px 0 50px 0;
        font-size: 45px;
    }

    .piao p {
        font-size: 15px;
    }

    .titulo h2 {
        font-size: 45px;
    }

    .paragrafos p {
        font-size: 13px;

    }

    .camoo,
    .campo-descrição,
    #contato form button {
        width: 75%;
    }

    .menu ul a {
        font-size: 15px;
    }

    #cadastro {
        font-size: 35px;
        margin-top: -100px;
    }

    #equipe {
        margin-top: -120px;
    }
}